body{
	background: grey;
}

h4 {
  text-align: center;
  color: rgb(16, 62, 179) 
}

h4:hover {
  color: gold;
}

.texto{
  color: blueviolet;
}

.texto:hover{
  color: rgb(67, 154, 74);
  font-size: large;
}

.texto2{
  color: rgb(209, 43, 43);
}
.texto2:hover{
  color: rgb(102, 9, 97);
  font-size: large;
}

.texto3{
  color: rgb(210, 118, 181);
}
.texto3:hover{
  color: rgb(12, 181, 211);
  font-size: large;
}

table {
  width: 100%;
  background: white;
  margin-bottom: 1.25em;
  border: solid 1px #dddddd;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr th,
table tr td {
  padding: 0.5625em 0.625em;
  font-size: 0.875em;
  color: #222222;
  border: 1px solid #dddddd;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
  background: #f9f9f9;
}

.color:hover {
  background: chartreuse;
}

.color2:hover {
  background: cyan;
}

.color3:hover {
  background: darkorchid;
}

.img:hover{
  cursor: pointer;
  background-image: url(../img/mictla.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100px;
}

.img2:hover{
  cursor: pointer;
  background-image: url(../img/donc.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100px;
}

.img3:hover{
  cursor: pointer;
  background-image: url(../img/quetzal.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100px;
}